<div class="auth-page">
  <div class="auth-card">
    <h2>Reimposta password</h2>
    <p class="subtitle">Inserisci e conferma la nuova password.</p>

    @if(errorMessage()&& !token()){
         <p class="error-message">{{ errorMessage() }}</p>
         <p class="redirect-text">
           <a routerLink="/forgot-password">Richiedi un nuovo link</a>
         </p>
    } @else {
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>Nuova Password</label>
          <div class="password-wrapper">
            <input
              [type]="showPassword() ? 'text': 'password'"
              formControlName="newPassword"
              placeholder="Inserisci nuova password"
             >

            <button type="button" class="toggle-btn" (click)="togglePassword()">
              {{ showPassword() ? 'Nascondi' : 'Mostra' }}
            </button>
          </div>

          @if(resetPasswordForm.get('newPassword')?.touched
          && resetPasswordForm.get('newPassword')?.hasError('required') ){
            <small>Nuova password obbligatoria</small>
          }

          @if(resetPasswordForm.get('newPassword')?.touched
          && resetPasswordForm.get('newPassword')?.hasError('minlenght') ){
            <small>Password minimo 6 caratteri</small>
          }

          @if(resetPasswordForm.get('newPassword')?.touched
          && resetPasswordForm.get('newPassword')?.hasError('pattern') ){
            <small>Almeno una minuscola, una maiuscola e un carattere speciale</small>
          }

        </div>

        <!-- Conferma Password -->
        <div class="form-group">
          <label>Conferma Password</label>
          <div class="password-wrapper">
            <input
              [type]="showConfirmPassword() ? 'text': 'password'"
              formControlName="confirmPassword"
              placeholder="Ripeti nuova password"
            >

            <button type="button" class="toggle-btn" (click)="toggleConfirmPassword()">
              {{ showConfirmPassword() ? 'Nascondi' : 'Mostra' }}
            </button>
          </div>

          @if(resetPasswordForm.get('confirmPassword')?.touched
          && resetPasswordForm.get('confirmPassword')?.hasError('required') ){
            <small> Conferma password obbligatoria</small>
          }


          @if(resetPasswordForm.hasError('passwordMismatch')
          && resetPasswordForm.get('confirmPassword')?.touched
            ){
            <small> Le password non coincidono</small>
          }
        </div>

        @if(successMessage()){
          <p class="success-message"> {{ successMessage() }}</p>
        }
        @if (errorMessage()){
          <p class="error-message">{{ errorMessage() }}</p>
        }

        <button type="submit" class="submit-btn" [disabled]="loading()">
          @if(loading()){
            Salvataggio...
          } @else {
            Reimposta passsword
          }

        </button>

      </form>
    }
  </div>

</div>
